Repository iterative/dvc.org, pull requests merged in 2019-10, with the labels that each got.

#725 docs: regular updates (late Oct)
  src/Documentation/glossary.js
  src/Documentation/sidebar.json
  static/docs/changelog/0.35.md
  static/docs/command-reference/commit.md
  static/docs/command-reference/destroy.md
  static/docs/command-reference/import-url.md
  static/docs/command-reference/install.md
  static/docs/command-reference/pull.md
  static/docs/command-reference/push.md
  static/docs/command-reference/remote/index.md
  static/docs/command-reference/remote/modify.md
  static/docs/command-reference/remove.md
  static/docs/command-reference/status.md
  static/docs/command-reference/unprotect.md
  static/docs/command-reference/version.md
  static/docs/get-started/add-files.md
  static/docs/get-started/connect-code-and-data.md
  static/docs/get-started/initialize.md
  static/docs/get-started/retrieve-data.md
  static/docs/install/completion.md
  static/docs/install/index.md
  static/docs/install/linux.md
  static/docs/install/macos.md
  static/docs/install/pre-release.md
  static/docs/install/windows.md
  static/docs/tutorials/deep/define-ml-pipeline.md
  static/docs/tutorials/deep/preparation.md
  static/docs/tutorials/pipelines.md
  static/docs/tutorials/versioning.md
  static/docs/understanding-dvc/how-it-works.md
  static/docs/use-cases/index.md
  static/docs/use-cases/sharing-data-and-model-files.md
  static/docs/use-cases/versioning-data-and-model-files.md
  static/docs/user-guide/contributing/core.md
  static/docs/user-guide/dvcignore.md
  static/docs/user-guide/index.md
  static/docs/user-guide/large-dataset-optimization.md
  static/docs/user-guide/updating-tracked-files.md
Labels: docs, use-cases, user-guide

#754 remove unneeded general commit component `dvc`
  static/docs/user-guide/contributing/core.md
Labels: docs, user-guide

#715 Wrap strings at 80 characters
  .eslintrc.json
  src/Documentation/HeadInjector.js
  src/Documentation/Markdown/Markdown.js
  src/Documentation/SidebarMenu/helper.test.js
  src/Documentation/glossary.js
  src/SubscribeForm/index.js
  src/Video/index.js
Labels: research
