Repository iterative/dvc.org, pull requests merged in 2020-10, with the labels that each got.

#1780 cmd: doc root --cd flag
  content/docs/command-reference/index.md
  content/docs/command-reference/repro.md
Labels: doc-content

#1806 docs: add key terms to use case intros/tutorial and what is dvc? docs [SEO]
  content/docs/use-cases/index.md
  content/docs/use-cases/versioning-data-and-model-files/index.md
  content/docs/use-cases/versioning-data-and-model-files/tutorial.md
  content/docs/user-guide/what-is-dvc.md
Labels: doc-content, website

#1850 docs: add redirect for How To: Update Tracked Files
  redirects-list.json
Labels: doc-content, website

#1866 added documentation for doctor command
  config/prismjs/dvc-commands.js
  content/docs/command-reference/doctor.md
  content/docs/sidebar.json
Labels: ⏳ awaiting-dvc-merge

#1864 start: add meta description, 'machine learning' term (index) [SEO]
  content/docs/start/index.md
Labels: doc-content, website

#1809 plots and metrics: update new targets rules
  content/docs/command-reference/plots/diff.md
  content/docs/command-reference/plots/show.md
Labels: ⏳ awaiting-dvc-merge

#1855 start: add meta title, description, and key term (data versioning) [SEO]
  content/docs/start/data-versioning.md
Labels: doc-content, website

#1856 cases: add custom meta title and meta description to (data versioning tutorial) [SEO]
  content/docs/use-cases/versioning-data-and-model-files/tutorial.md
Labels: doc-content, website

#1857 start: add meta title, description and key term (data pipelines) [SEO]
  content/docs/start/data-pipelines.md
Labels: doc-content, website
