Repository iterative/dvc.org, pull requests merged in 2020-01, with the labels that each got.

#891 web: make all indices optional for nav struct (sidebar.json)
  .gitignore
  package.json
  pages/doc.js
  public/static/docs/sidebar.json
  public/static/docs/user-guide/contributing/docs.md
  public/static/docs/user-guide/contributing/index.md
  server.js
  src/Documentation/Markdown/Markdown.js
  src/styles.js
  src/utils/sidebar.js
  src/utils/sidebar.test.js
Labels: engine

#925 Fix `dvc get` example
  public/static/docs/command-reference/get.md
Labels: command-reference, docs

#935 install: add snap instructions
  public/static/docs/install/completion.md
  public/static/docs/install/linux.md
  public/static/docs/user-guide/contributing/docs.md
Labels: doc-content, enhancement
