Repository iterative/dvc.org, pull requests merged in 2020-06, with the labels that each got.

#1398 hotfix: fix commit desc (broken tooltip)
  content/docs/command-reference/commit.md
Labels: bug

#1461 install: completion: update to new method
  content/docs/install/completion.md
Labels: doc-content, enhancement, feature-request, ui/ux

#1478 install: completion: fix/improve paths
  content/docs/install/completion.md
Labels: bug, doc-content, ui/ux
