Repository iterative/dvc.org, pull requests merged in 2021-07, with the labels that each got.

#2534 guide: cleanup some md links
  content/docs/api-reference/get_url.md
  content/docs/command-reference/destroy.md
  content/docs/user-guide/managing-external-data.md
Labels: dependencies, discussion

#2595 Add `doc/user-guide/glossary` page
  content/docs/sidebar.json
  src/components/Documentation/Markdown/Main/index.tsx
  src/components/Documentation/Markdown/Main/styles.module.css
  src/components/Documentation/Markdown/index.tsx
  src/components/Documentation/Markdown/styles.module.css
  src/components/Documentation/WithJSX/AutoLinkElement/index.tsx
  src/components/Documentation/WithJSX/AutoLinkElement/styles.module.css
  src/components/Documentation/WithJSX/index.tsx
  src/components/Documentation/index.tsx
  src/gatsby/common.js
  src/pages/doc/user-guide/glossary.tsx
  src/templates/doc-jsx.tsx
Labels: doc-content, doc-engine, enhancement

#2472 plots: document html template
  content/docs/command-reference/config.md
  content/docs/command-reference/plots/diff.md
  content/docs/command-reference/plots/index.md
  content/docs/command-reference/plots/show.md
Labels: dvc-update

#2624 format: lint all files
  .github/workflows/link-check-all.yml
  .github/workflows/link-check-deploy.yml
  .prettierignore
  .restyled.yaml
Labels: 🏠 housekeeping

#2658 docs: redirect to CML.dev
  content/docs/cml/cml-with-dvc.md
  content/docs/cml/cml-with-npm.md
  content/docs/cml/index.md
  content/docs/cml/self-hosted-runners.md
  content/docs/cml/start-github.md
  content/docs/cml/start-gitlab.md
  content/docs/cml/usage.md
  redirects-list.json
  static/img/change_user_name.png
  static/img/ci_cd_navigation.png
  static/img/cml_first_report.png
  static/img/cml_neural_transfer.png
  static/img/cml_start_gitlab_end.png
  static/img/create_merge_request.png
  static/img/dvc_cml_long_report.png
  static/img/fork_cml_project.png
  static/img/gitlab_cml_clone.png
  static/img/gitlab_fork_cml_project.png
  static/img/make_pr.png
  static/img/new_merge_request.png
  static/img/personal_access_token.png
Labels: doc-content, doc-engine, website

#2653 Updated info about cleanup
  content/docs/dvclive/api-reference/init.md
Labels: ⏳ awaiting-dvc-merge
