Repository iterative/dvc.org, pull requests merged in 2021-05, with the labels that each got.

#2373 ug: add checkpoints tutorial
  content/docs/sidebar.json
  content/docs/user-guide/experiment-management/checkpoints.md
  content/docs/user-guide/experiment-management/index.md
  static/img/checkpoints_plots.png
Labels: 2.0 release

#2421 ref: update all `exp` options, and
  content/docs/command-reference/exp/apply.md
  content/docs/command-reference/exp/branch.md
  content/docs/command-reference/exp/diff.md
  content/docs/command-reference/exp/gc.md
  content/docs/command-reference/exp/index.md
  content/docs/command-reference/exp/list.md
  content/docs/command-reference/exp/pull.md
  content/docs/command-reference/exp/push.md
  content/docs/command-reference/exp/remove.md
  content/docs/command-reference/exp/run.md
  content/docs/command-reference/exp/show.md
  content/docs/user-guide/experiment-management/index.md
Labels: 2.0 release

#2359 docs: misc content & guide updates
  content/docs/start/data-and-model-access.md
  content/docs/start/data-and-model-versioning.md
  content/docs/start/data-pipelines.md
  content/docs/start/experiments.md
  content/docs/start/index.md
  content/docs/start/metrics-parameters-plots.md
  content/docs/user-guide/basic-concepts/dependency.md
  content/docs/user-guide/basic-concepts/dvc-cache.md
  content/docs/user-guide/basic-concepts/experiment.md
  content/docs/user-guide/basic-concepts/file-link.md
  content/docs/user-guide/basic-concepts/parameter.md
  content/docs/user-guide/basic-concepts/pipeline.md
  content/docs/user-guide/contributing/docs.md
Labels: doc-content

#2488 docs: fix outdated CML links
  content/blog/2020-12-30-december-20-community-gems.md
  content/blog/2021-02-22-cml-runner-prerelease.md
  content/docs/cml/self-hosted-runners.md
  content/docs/cml/usage.md
Labels: bug, doc-content
