Repository iterative/dvc.org, pull requests merged in 2022-12, with the labels that each got.

#4123 install/completion: add tabs, add tcsh
  content/docs/install/completion.md
Labels: A: docs

#4151 Fix SEO default population
  package.json
  yarn.lock
Labels: p0-critical

#4121 docs/studio: top-level plots
  content/docs/studio/user-guide/projects-and-experiments/visualize-and-compare.md
Labels: C: studio

#4169 Using reusable workflow for check deployment
  .github/workflows/check-deployment.yml
Labels: pass-ci

#4172 dvc/guide: share exps without dvc remote
  content/docs/user-guide/experiment-management/sharing-experiments.md
Labels: A: docs, C: guide

#4177 Update sharing-experiments.md
  content/docs/user-guide/experiment-management/sharing-experiments.md
Labels: 🐛 type: bug, A: docs

#4162 dvclive: Updates for "DVCLive only" experiments
  content/docs/command-reference/exp/save.md
  content/docs/dvclive/api-reference/env.md
  content/docs/dvclive/api-reference/index.md
  content/docs/dvclive/api-reference/live/end.md
  content/docs/dvclive/api-reference/live/index.md
  content/docs/dvclive/api-reference/live/log_image.md
  content/docs/dvclive/api-reference/live/log_metric.md
  content/docs/dvclive/api-reference/live/log_param.md
  content/docs/dvclive/api-reference/live/next_step.md
  content/docs/dvclive/api-reference/ml-frameworks/index.md
  content/docs/dvclive/api-reference/ml-frameworks/pytorch-lightning.md
  content/docs/dvclive/api-reference/ml-frameworks/tensorflow.md
  content/docs/dvclive/get-started.md
  content/docs/dvclive/how-it-works.md
  content/docs/sidebar.json
  content/docs/user-guide/basic-concepts/experiment.md
  static/img/dvclive-vscode-compare.png
  static/img/dvclive-vscode-monitoring.gif
  static/img/dvclive_exp_tracking_plots_diff.svg
Labels: A: docs, C: ref

#4185 Use alphabetical order in `exp` API ref
  content/docs/sidebar.json
Labels: C: ref

#4189 guide: edits around `gdrive_acknowledge_abuse`
  content/docs/user-guide/how-to/setup-google-drive-remote.md
Labels: A: docs, C: guide

#4138 test: replace set-output => GITHUB_OUTPUT
  .github/workflows/update.yaml
Labels: dependencies

#4000 start: reader instructions (in index pages)
  content/docs/start/index.md
Labels: type: enhancement, A: docs, p2-nice-to-have, C: start

#4025 pipelines: wording updates
  content/docs/command-reference/dag.md
  content/docs/command-reference/repro.md
  content/docs/command-reference/run.md
  content/docs/start/data-management/data-pipelines.md
  content/docs/start/data-management/metrics-parameters-plots.md
  content/docs/user-guide/overview.md
Labels: A: docs, p2-nice-to-have, C: ref

#4155 start: link to data step from Pipelines
  content/docs/start/data-management/data-pipelines.md
Labels: type: enhancement, A: docs, C: start

#4145 Flexible plots
  content/docs/start/data-management/metrics-parameters-plots.md
  static/img/plots_cm_get_started_show.svg
  static/img/plots_importance_get_started_diff.png
  static/img/plots_importance_get_started_show.png
  static/img/plots_prc_get_started_diff.svg
  static/img/plots_prc_get_started_show.svg
  static/img/plots_roc_get_started_diff.svg
  static/img/plots_roc_get_started_show.svg
Labels: ⌛ status: wait-core-merge

#4197 start: reader instructions (2)
  content/docs/start/index.md
Labels: type: enhancement, A: docs, C: start

#4199 hotfix: fix some broken MD link refs.
  content/docs/command-reference/exp/apply.md
  content/docs/command-reference/exp/branch.md
  content/docs/command-reference/exp/diff.md
  content/docs/command-reference/exp/gc.md
  content/docs/command-reference/exp/list.md
  content/docs/command-reference/exp/pull.md
  content/docs/command-reference/exp/push.md
  content/docs/command-reference/exp/run.md
  content/docs/command-reference/exp/save.md
  content/docs/command-reference/exp/show.md
Labels: 🐛 type: bug, A: docs, C: ref

#4142 ref: document `import-url` cloud versioning changes
  content/docs/command-reference/import-url.md
  content/docs/command-reference/update.md
  content/docs/user-guide/project-structure/dvc-files.md
  content/docs/user-guide/project-structure/dvcyaml-files.md
Labels: A: docs, C: ref

#4012 Live metrics docs
  content/docs/sidebar.json
  content/docs/studio/get-started.md
  content/docs/studio/how-it-works.md
  content/docs/studio/user-guide/prepare-your-repositories.md
  content/docs/studio/user-guide/projects-and-experiments/explore-ml-experiments.md
  content/docs/studio/user-guide/projects-and-experiments/live-metrics-and-plots.md
  content/docs/studio/user-guide/projects-and-experiments/run-experiments.md
  content/docs/studio/user-guide/projects-and-experiments/visualize-and-compare.md
  content/docs/studio/user-guide/projects-and-experiments/what-is-a-project.md
Labels: C: studio

#4193 4176 experiments new behavior for exp names
  content/docs/api-reference/make_checkpoint.md
  content/docs/command-reference/exp/apply.md
  content/docs/command-reference/exp/branch.md
  content/docs/command-reference/exp/diff.md
  content/docs/command-reference/exp/gc.md
  content/docs/command-reference/exp/list.md
  content/docs/command-reference/exp/pull.md
  content/docs/command-reference/exp/push.md
  content/docs/command-reference/exp/remove.md
  content/docs/command-reference/exp/run.md
  content/docs/command-reference/exp/save.md
  content/docs/command-reference/exp/show.md
  content/docs/start/experiment-management/experiments.md
  content/docs/use-cases/experiment-tracking.md
  content/docs/user-guide/experiment-management/cleaning-experiments.md
  content/docs/user-guide/experiment-management/comparing-experiments.md
  content/docs/user-guide/experiment-management/experiments-overview.md
  content/docs/user-guide/experiment-management/persisting-experiments.md
  content/docs/user-guide/experiment-management/running-experiments.md
  content/docs/user-guide/experiment-management/sharing-experiments.md
Labels: A: docs, C: guide, C: ref

#4060 docs: data-mgmt-related but small changes
  content/docs/command-reference/config.md
  content/docs/use-cases/versioning-data-and-models/index.md
  content/docs/user-guide/basic-concepts/dvc-cache.md
Labels: A: docs, p2-nice-to-have, C: guide

#4211 troubleshooting: remove outdated section
  content/docs/user-guide/troubleshooting.md
Labels: 🐛 type: bug, A: docs, C: guide

#4183 Add `--force` and change the default doc to `dvc queue kill`
  content/docs/command-reference/queue/kill.md
Labels: ⌛ status: wait-core-merge
