Repository iterative/dvc.org, pull requests merged in 2022-09, with the labels that each got.

#3812 cmd-ref: document data:status command
  content/docs/command-reference/data/status.md
  content/docs/sidebar.json
Labels: A: docs, C: ref

#3919 cases: fix Versioning and split Data Registry
  content/docs/api-reference/index.md
  content/docs/command-reference/add.md
  content/docs/command-reference/import.md
  content/docs/sidebar.json
  content/docs/use-cases/ci-cd-for-machine-learning.md
  content/docs/use-cases/data-registry/index.md
  content/docs/use-cases/data-registry/tutorial.md
  content/docs/use-cases/experiment-tracking.md
  content/docs/use-cases/fast-data-caching-hub.md
  content/docs/use-cases/index.md
  content/docs/use-cases/model-registry.md
  content/docs/use-cases/versioning-data-and-models/index.md
  content/docs/use-cases/versioning-data-and-models/tutorial.md
  content/docs/user-guide/basic-concepts/dvc-files.md
  content/docs/user-guide/managing-external-data.md
  content/docs/user-guide/related-technologies.md
  content/docs/user-guide/what-is-dvc.md
  redirects-list.json
Labels: A: docs, C: cases

#3913 Show how to parse params into stage cmd
  content/docs/command-reference/stage/add.md
Labels: A: docs, C: ref

#3875 cmd-ref: update plots templates
  content/docs/command-reference/plots/templates.md
Labels: A: docs, C: ref

#3414 guide: ML Pipelines (1): Defining Pipelines & Stages
  content/docs/command-reference/dag.md
  content/docs/command-reference/exp/init.md
  content/docs/command-reference/move.md
  content/docs/command-reference/repro.md
  content/docs/command-reference/run.md
  content/docs/command-reference/stage/add.md
  content/docs/command-reference/stage/index.md
  content/docs/sidebar.json
  content/docs/start/data-management/metrics-parameters-plots.md
  content/docs/start/data-management/pipelines.md
  content/docs/user-guide/basic-concepts/dependency.md
  content/docs/user-guide/basic-concepts/output.md
  content/docs/user-guide/basic-concepts/pipeline.md
  content/docs/user-guide/basic-concepts/stage.md
  content/docs/user-guide/experiment-management/running-experiments.md
  content/docs/user-guide/pipelines/defining-pipelines.md
  content/docs/user-guide/pipelines/index.md
  content/docs/user-guide/project-structure/dvcyaml-files.md
  content/docs/user-guide/project-structure/internal-files.md
  content/docs/user-guide/related-technologies.md
  content/docs/user-guide/what-is-dvc.md
Labels: A: docs, C: guide

#3899 Parameters: separate info among docs sections
  content/docs/command-reference/exp/run.md
  content/docs/command-reference/params/diff.md
  content/docs/command-reference/params/index.md
  content/docs/user-guide/basic-concepts/parameter.md
  content/docs/user-guide/experiment-management/index.md
  content/docs/user-guide/experiment-management/running-experiments.md
  content/docs/user-guide/pipelines/defining-pipelines.md
  content/docs/user-guide/project-structure/dvcyaml-files.md
Labels: A: docs, ⌛ status: wait-core-merge, C: guide, C: ref

#3921 Changed Team to Basic and added a new Teams plan in Studio pricing
  content/docs/studio/get-started.md
  content/docs/studio/user-guide/account-management.md
  content/docs/studio/user-guide/billing-and-payment.md
  content/docs/studio/user-guide/change-team-plan-and-size.md
  content/docs/studio/user-guide/projects-and-experiments/create-a-project.md
  content/docs/studio/user-guide/projects-and-experiments/share-a-project.md
  content/docs/studio/user-guide/teams.md
Labels: A: docs, C: guide, C: studio

#3894 `queue`: edits to new docs
  content/docs/command-reference/exp/run.md
  content/docs/command-reference/queue/index.md
  content/docs/command-reference/queue/kill.md
  content/docs/command-reference/queue/logs.md
  content/docs/command-reference/queue/remove.md
  content/docs/command-reference/queue/start.md
  content/docs/command-reference/queue/status.md
  content/docs/command-reference/queue/stop.md
  content/docs/user-guide/experiment-management/cleaning-experiments.md
  content/docs/user-guide/experiment-management/running-experiments.md
Labels: A: docs, C: guide, C: ref

#3935 ref: reorg and wrap `import` usage block
  content/docs/command-reference/import.md
Labels: A: docs, C: ref

#3934 ref: reorg and wrap `import-url` usage block
  content/docs/command-reference/import-url.md
Labels: A: docs, C: ref

#3929 how-to: RESOLVE merge conflicts
  content/docs/sidebar.json
  content/docs/user-guide/how-to/resolve-merge-conflicts.md
  content/docs/user-guide/project-structure/dvc-files.md
  content/docs/user-guide/project-structure/dvcyaml-files.md
  redirects-list.json
Labels: type: enhancement, A: docs, C: guide

#3946 guide: hotfix pipelines links
  content/docs/command-reference/dag.md
  content/docs/command-reference/exp/index.md
  content/docs/command-reference/exp/init.md
  content/docs/command-reference/move.md
  content/docs/command-reference/params/index.md
  content/docs/command-reference/repro.md
  content/docs/command-reference/run.md
  content/docs/command-reference/stage/add.md
  content/docs/command-reference/stage/index.md
  content/docs/start/data-management/pipelines.md
  content/docs/user-guide/basic-concepts/pipeline.md
  content/docs/user-guide/basic-concepts/stage.md
  content/docs/user-guide/experiment-management/running-experiments.md
  content/docs/user-guide/pipelines/index.md
  content/docs/user-guide/project-structure/dvcyaml-files.md
  content/docs/user-guide/project-structure/internal-files.md
  content/docs/user-guide/related-technologies.md
  content/docs/user-guide/what-is-dvc.md
Labels: 🐛 type: bug, A: docs

#3941 start: cleanup nav
  content/docs/sidebar.json
  content/docs/start/data-management/data-and-model-access.md
  content/docs/start/data-management/data-pipelines.md
  content/docs/start/index.md
  redirects-list.json
Labels: A: docs, C: start

#3942 start: update links from all docs
  content/docs/command-reference/diff.md
  content/docs/command-reference/exp/branch.md
  content/docs/command-reference/exp/show.md
  content/docs/command-reference/get.md
  content/docs/command-reference/import-url.md
  content/docs/command-reference/import.md
  content/docs/command-reference/pull.md
  content/docs/command-reference/push.md
  content/docs/command-reference/remote/index.md
  content/docs/command-reference/repro.md
  content/docs/sidebar.json
  content/docs/start/data-management/data-and-model-versioning.md
  content/docs/start/data-management/data-pipelines.md
  content/docs/start/data-management/metrics-parameters-plots.md
  content/docs/start/index.md
  content/docs/studio/user-guide/prepare-your-repositories.md
  content/docs/use-cases/ci-cd-for-machine-learning.md
  content/docs/use-cases/data-registry/index.md
  content/docs/use-cases/fast-data-caching-hub.md
  content/docs/use-cases/model-registry.md
  content/docs/use-cases/versioning-data-and-models/index.md
  content/docs/use-cases/versioning-data-and-models/tutorial.md
  content/docs/user-guide/basic-concepts/dvc-project.md
  content/docs/user-guide/basic-concepts/workspace.md
  content/docs/user-guide/experiment-management/checkpoints.md
  content/docs/user-guide/experiment-management/running-experiments.md
  content/docs/user-guide/experiment-management/sharing-experiments.md
  content/docs/user-guide/project-structure/dvc-files.md
  content/docs/user-guide/project-structure/dvcyaml-files.md
Labels: A: docs, ⌛ status: wait-core-merge, C: start

#3943 start: clean up pages (index)
  content/docs/start/index.md
Labels: A: docs, C: start

#3957 start: fix links to Data Pipelines page
  content/docs/command-reference/plots/index.md
  content/docs/user-guide/pipelines/index.md
  content/docs/user-guide/visualizing-plots.md
Labels: 🐛 type: bug, A: docs

#3958 start: clarify that trails are comprehensive
  content/docs/start/index.md
Labels: type: enhancement, A: docs, C: start

#3940 plots: mention dir support and update templates
  content/docs/command-reference/plots/index.md
  content/docs/user-guide/project-structure/dvcyaml-files.md
Labels: A: docs

#3918 guide: apply merge driver to all .dvc files
  content/docs/user-guide/how-to/resolve-merge-conflicts.md
Labels: type: enhancement, A: docs, C: guide

#3955 start: clean up pages (Data Versioning)
  content/docs/sidebar.json
  content/docs/start/data-management/data-and-model-versioning.md
  content/docs/start/data-management/data-versioning.md
  content/docs/start/data-management/index.md
Labels: A: docs, C: start

#3971 plots: clarify (more) that stage-level plots can be dirs
  content/docs/command-reference/plots/index.md
  content/docs/command-reference/run.md
  content/docs/command-reference/stage/add.md
  content/docs/user-guide/visualizing-plots.md
Labels: A: docs, C: guide, C: ref

#3985 fix: outdated link anchor `#stage-plots`
  content/docs/command-reference/plots/show.md
  content/docs/user-guide/visualizing-plots.md
Labels: 🐛 type: bug, A: docs

#3956 start: clean up pages (Experiments)
  content/docs/sidebar.json
  content/docs/start/experiment-management/experiments.md
  content/docs/start/experiment-management/visualization.md
  redirects-list.json
Labels: A: docs, C: start

#3937 hotfix: bad anchor link
  content/docs/user-guide/project-structure/dvcyaml-files.md
Labels: 🐛 type: bug, A: docs, C: ref

#3972 ref: remove pull --glob
  content/docs/command-reference/pull.md
Labels: A: docs, C: ref

#3997 start: update `git add`
  content/docs/start/data-management/metrics-parameters-plots.md
Labels: 🐛 type: bug, A: docs, C: start

#3974 start: update links (Experiment Management)
  content/docs/command-reference/exp/apply.md
  content/docs/command-reference/exp/branch.md
  content/docs/command-reference/exp/diff.md
  content/docs/command-reference/exp/gc.md
  content/docs/command-reference/exp/list.md
  content/docs/command-reference/exp/pull.md
  content/docs/command-reference/exp/push.md
  content/docs/command-reference/exp/run.md
  content/docs/command-reference/exp/show.md
  content/docs/contributing/docs.md
  content/docs/start/experiment-management/visualization.md
  content/docs/start/index.md
  content/docs/use-cases/ci-cd-for-machine-learning.md
  content/docs/use-cases/experiment-tracking.md
  content/docs/use-cases/versioning-data-and-models/index.md
  content/docs/use-cases/versioning-data-and-models/tutorial.md
  content/docs/user-guide/basic-concepts/experiment.md
  content/docs/user-guide/experiment-management/index.md
  content/docs/user-guide/experiment-management/running-experiments.md
Labels: A: docs, C: start

#3948 admon: use/replace book icons
  content/docs/command-reference/exp/index.md
  content/docs/command-reference/exp/init.md
  content/docs/command-reference/exp/run.md
  content/docs/command-reference/exp/show.md
  content/docs/command-reference/plots/index.md
  content/docs/command-reference/queue/index.md
  content/docs/start/data-management/data-versioning.md
  content/docs/user-guide/experiment-management/index.md
  content/docs/user-guide/experiment-management/running-experiments.md
  content/docs/user-guide/project-structure/dvcyaml-files.md
  content/docs/user-guide/visualizing-plots.md
Labels: A: docs

#3993 guide: merge driver can handle non-append conflicts
  content/docs/command-reference/push.md
  content/docs/user-guide/how-to/resolve-merge-conflicts.md
Labels: A: docs, C: guide

#3930 import/import-url/update: --no-download improvements
  content/docs/command-reference/import-url.md
  content/docs/command-reference/import.md
  content/docs/command-reference/update.md
Labels: A: docs, C: ref

#4006 guide: new Overview page
  content/docs/index.md
  content/docs/install/index.md
  content/docs/sidebar.json
  content/docs/start/data-management/data-versioning.md
  content/docs/user-guide/basic-concepts/dvc-project.md
  content/docs/user-guide/basic-concepts/workspace.md
  content/docs/user-guide/index.md
  content/docs/user-guide/overview.md
  content/docs/user-guide/project-structure/index.md
  content/docs/user-guide/what-is-dvc.md
  redirects-list.json
Labels: A: docs, p1-important, C: guide

#3944 document labels/type/meta
  content/docs/command-reference/add.md
  content/docs/command-reference/import-url.md
  content/docs/command-reference/import.md
  content/docs/user-guide/project-structure/dvc-files.md
  content/docs/user-guide/project-structure/dvcyaml-files.md
Labels: A: docs, C: ref

#4009 doc: remove New in DVC 2.0 quotes
  content/docs/api-reference/dvcfilesystem.md
  content/docs/command-reference/exp/index.md
  content/docs/user-guide/experiment-management/checkpoints.md
  content/docs/user-guide/experiment-management/index.md
  content/docs/user-guide/project-structure/dvcyaml-files.md
Labels: type: enhancement, A: docs, p2-nice-to-have

#3994 dvclive: docs for log_param/log_params
  content/docs/dvclive/api-reference/live/index.md
  content/docs/dvclive/api-reference/live/log_param.md
  content/docs/dvclive/api-reference/live/log_params.md
  content/docs/dvclive/dvclive-with-dvc.md
  content/docs/dvclive/get-started.md
  content/docs/dvclive/ml-frameworks/catalyst.md
  content/docs/dvclive/ml-frameworks/fastai.md
  content/docs/dvclive/ml-frameworks/huggingface.md
  content/docs/dvclive/ml-frameworks/keras.md
  content/docs/dvclive/ml-frameworks/lightgbm.md
  content/docs/dvclive/ml-frameworks/pytorch-lightning.md
  content/docs/dvclive/ml-frameworks/xgboost.md
  content/docs/sidebar.json
Labels: A: docs, C: dvclive
