Repository iterative/dvc.org, pull requests merged in 2022-02, with the labels that each got.

#3216 `exp remove`: Update help for `--all` flag
  content/docs/command-reference/exp/remove.md
Labels: C: ref

#3244 Fix broken "Edit on Github" links
  plugins/gatsby-theme-iterative-docs/src/constants.ts
Labels: A: website

#3210 ref: clarifications around `add` and `import-url` for external targets
  content/docs/command-reference/add.md
  content/docs/command-reference/import-url.md
  content/docs/command-reference/import.md
  content/docs/command-reference/update.md
  content/docs/user-guide/managing-external-data.md
Labels: p2-nice-to-have

#3253 Make YouTube Embeds GDPR compliant
  config/gatsby-remark-embedder/custom-yt-embedder.js
  gatsby-config.js
  plugins/gatsby-theme-iterative-docs/src/components/Documentation/Markdown/Main/index.tsx
  plugins/gatsby-theme-iterative-docs/src/components/Documentation/Markdown/Main/styles.module.css
  plugins/gatsby-theme-iterative-docs/src/utils/front/useCustomYtEmbeds.ts
  src/components/Blog/Post/Markdown/styles.module.css
  src/components/Blog/Post/index.tsx
  src/components/Home/UseCases/Video/index.tsx
  src/components/Home/UseCases/Video/styles.module.css
Labels: A: website

#3207 dvclive: Add `log_image` and `log_plot`
  content/docs/dvclive/api-reference/live/get_step.md
  content/docs/dvclive/api-reference/live/index.md
  content/docs/dvclive/api-reference/live/log.md
  content/docs/dvclive/api-reference/live/log_image.md
  content/docs/dvclive/api-reference/live/log_plot.md
  content/docs/dvclive/api-reference/live/next_step.md
  content/docs/dvclive/api-reference/live/set_step.md
  content/docs/dvclive/dvclive-with-dvc.md
  content/docs/dvclive/get-started.md
  content/docs/dvclive/ml-frameworks/catalyst.md
  content/docs/dvclive/ml-frameworks/fastai.md
  content/docs/dvclive/ml-frameworks/huggingface.md
  content/docs/dvclive/ml-frameworks/keras.md
  content/docs/dvclive/ml-frameworks/lightgbm.md
  content/docs/dvclive/ml-frameworks/mmcv.md
  content/docs/dvclive/ml-frameworks/pytorch-lightning.md
  content/docs/dvclive/ml-frameworks/pytorch.md
  content/docs/dvclive/ml-frameworks/tensorflow.md
  content/docs/dvclive/ml-frameworks/xgboost.md
  content/docs/sidebar.json
  static/img/dvclive-calibration.png
  static/img/dvclive-confusion_matrix.png
  static/img/dvclive-det.png
  static/img/dvclive-precision_recall.png
  static/img/dvclive-roc.png
Labels: C: dvclive

#3215 start: use tabs for a Windows command
  content/docs/start/data-and-model-versioning.md
Labels: A: content

#3205 troubleshooting: add entry for pickle protocol errors
  content/docs/user-guide/troubleshooting.md
Labels: C: guide

#3276 ref: update DVCLive links
  content/docs/command-reference/run.md
  content/docs/command-reference/stage/add.md
  content/docs/dvclive/ml-frameworks/tensorflow.md
Labels: C: ref, C: dvclive

#3263 Add course link and "..." dropdown to nav bar
  src/components/HamburgerMenu/index.tsx
  src/components/LayoutHeader/Nav/LinkItems/index.tsx
  src/components/LayoutHeader/Nav/LinkItems/styles.module.css
  src/components/LayoutHeader/Nav/Popup/index.tsx
  src/components/LayoutHeader/Nav/Popup/styles.module.css
  src/gatsby/hooks/usePopup.tsx
Labels: A: website

#3198 Search blogs
  .env.example
  .github/workflows/blogs-indexing.yaml
  gatsby-config.js
  package.json
  src/components/Blog/Home/index.tsx
  src/components/Blog/Search/SearchBox/index.tsx
  src/components/Blog/Search/SearchBox/styles.module.css
  src/components/Blog/Search/SearchResult/index.tsx
  src/components/Blog/Search/SearchResult/styles.module.css
  src/components/Blog/Search/index.tsx
  src/components/Blog/Search/styles.module.css
  src/config/index.ts
  src/gatsby/hooks/useClickOutside.tsx
  src/gatsby/models/blog/onCreateMarkdownContentNode.js
  src/utils/algolia-queries.js
  yarn.lock
Labels: website: eng-blog

#3261 blog: February community gems
  content/blog/2022-02-28-february-22-community-gems.md
  static/uploads/images/2022-02-28/feb-comm-gems.png
Labels: A: content, C: blog
