Repository iterative/dvc.org, pull requests merged in 2022-07, with the labels that each got.

#3726 live: Updates for log standardization.
  content/docs/dvclive/ml-frameworks/catalyst.md
  content/docs/dvclive/ml-frameworks/fastai.md
  content/docs/dvclive/ml-frameworks/huggingface.md
  content/docs/dvclive/ml-frameworks/keras.md
  content/docs/dvclive/ml-frameworks/pytorch-lightning.md
Labels: C: dvclive

#3724 metrics: now support TOML files
  content/docs/command-reference/metrics/index.md
  content/docs/command-reference/run.md
  content/docs/command-reference/stage/add.md
Labels: A: content, ⌛ status: wait-core-merge

#3730 templating: Add `dict unpacking` section.
  content/docs/command-reference/config.md
  content/docs/user-guide/project-structure/pipelines-files.md
Labels: C: guide

#3560 blog: Using GCP remotes in DVC
  content/blog/2022-07-06-using-gcp-remotes-in-dvc.md
  static/uploads/images/2022-07-06/create_gcp_bucket.png
  static/uploads/images/2022-07-06/created_gcp_bucket.png
  static/uploads/images/2022-07-06/data_in_gcp.png
  static/uploads/images/2022-07-06/dvc-gcp.png
  static/uploads/images/2022-07-06/gcp_bucket_options.png
  static/uploads/images/2022-07-06/gcp_create_service_account.png
  static/uploads/images/2022-07-06/gcp_empty_service_account.png
  static/uploads/images/2022-07-06/gcp_initial_page.png
  static/uploads/images/2022-07-06/gcp_key.png
  static/uploads/images/2022-07-06/gcp_new_project.png
  static/uploads/images/2022-07-06/gcp_project.png
  static/uploads/images/2022-07-06/gcp_service_account.png
  static/uploads/images/2022-07-06/gcp_service_account_permissions.png
  static/uploads/images/2022-07-06/gcp_service_account_user_access.png
Labels: A: content, C: blog

#3728 Rename view to project
  content/docs/sidebar.json
  content/docs/studio/get-started.md
  content/docs/studio/overview.md
  content/docs/studio/troubleshooting.md
  content/docs/studio/user-guide/account-management.md
  content/docs/studio/user-guide/billing-and-payment.md
  content/docs/studio/user-guide/connect-custom-gitlab-server.md
  content/docs/studio/user-guide/install-github-app.md
  content/docs/studio/user-guide/prepare-repositories.md
  content/docs/studio/user-guide/projects/create-project.md
  content/docs/studio/user-guide/projects/explore-experiments.md
  content/docs/studio/user-guide/projects/project-settings.md
  content/docs/studio/user-guide/projects/run-experiments.md
  content/docs/studio/user-guide/projects/share-project.md
  content/docs/studio/user-guide/projects/visualize-experiments.md
  content/docs/studio/user-guide/projects/what-is-a-project.md
  content/docs/studio/user-guide/teams.md
  content/docs/studio/user-guide/views/create-view.md
  content/docs/studio/user-guide/views/share-view.md
  content/docs/studio/user-guide/views/what-is-a-view.md
  redirects-list.json
Labels: ⌛ status: wait-core-merge

#3735 vs-code: more links
  content/docs/command-reference/plots/index.md
  content/docs/start/experiments/index.md
Labels: A: content

#3754 studio: View -> Project (2)
  content/docs/sidebar.json
  content/docs/studio/get-started.md
  content/docs/studio/overview.md
  content/docs/studio/troubleshooting.md
  content/docs/studio/user-guide/account-management.md
  content/docs/studio/user-guide/billing-and-payment.md
  content/docs/studio/user-guide/connect-custom-gitlab-server.md
  content/docs/studio/user-guide/install-github-app.md
  content/docs/studio/user-guide/prepare-repositories.md
  content/docs/studio/user-guide/projects/create-project.md
  content/docs/studio/user-guide/projects/explore-experiments.md
  content/docs/studio/user-guide/projects/project-settings.md
  content/docs/studio/user-guide/projects/run-experiments.md
  content/docs/studio/user-guide/projects/share-project.md
  content/docs/studio/user-guide/projects/visualize-experiments.md
  content/docs/studio/user-guide/projects/what-is-a-project.md
  content/docs/studio/user-guide/teams.md
  content/docs/studio/user-guide/views/create-view.md
  content/docs/studio/user-guide/views/share-view.md
  content/docs/studio/user-guide/views/what-is-a-view.md
  redirects-list.json
Labels: A: content, ⌛ status: wait-core-merge, C: studio

#3533 ref: code blocks around `remote modify` `sse`, etc.
  content/docs/command-reference/remote/modify.md
Labels: A: content, C: ref

#3768 guide: remove term "pipelines files" (stick to "dvc.yaml" files)
  content/docs/command-reference/config.md
  content/docs/command-reference/exp/init.md
  content/docs/command-reference/params/index.md
  content/docs/sidebar.json
  content/docs/start/experiments/visualization.md
  content/docs/use-cases/experiment-tracking.md
  content/docs/user-guide/experiment-management/index.md
  content/docs/user-guide/experiment-management/running-experiments.md
  content/docs/user-guide/project-structure/dvcyaml-files.md
  content/docs/user-guide/project-structure/index.md
  content/linked-terms.js
  redirects-list.json
Labels: A: content, C: guide

#3748 gc: Add `--time` flag to dvc gc and dvc exp gc
  content/docs/command-reference/exp/gc.md
  content/docs/command-reference/gc.md
Labels: A: content

#3739 gc: Add `--rev` and `--num` flags
  content/docs/command-reference/gc.md
Labels: A: content, C: ref

#3772 hotfix: redirects
  redirects-list.json
Labels: A: website, p1-important

#3783 admons: remove for VS Code, update `type`s
  content/docs/command-reference/index.md
  content/docs/command-reference/params/index.md
  content/docs/command-reference/plots/index.md
  content/docs/command-reference/run.md
  content/docs/command-reference/stage/add.md
  content/docs/start/data-management/index.md
  content/docs/start/experiments/index.md
  content/docs/start/index.md
  content/docs/user-guide/experiment-management/index.md
  content/docs/user-guide/running-dvc-on-windows.md
Labels: A: content

#3623 blog: Serving Models with MLEM
  content/blog/2022-07-19-serving-models-with-mlem.md
  static/uploads/images/2022-07-19/fastapi_docs.png
  static/uploads/images/2022-07-19/serve_mlem_models.png
Labels: C: blog

#3609 Studio billing and payment (follow-up)
  content/docs/studio/get-started.md
  content/docs/studio/troubleshooting.md
  content/docs/studio/user-guide/account-management.md
  content/docs/studio/user-guide/billing-and-payment.md
  content/docs/studio/user-guide/change-team-plan-and-size.md
  content/docs/studio/user-guide/connect-custom-gitlab-server.md
  content/docs/studio/user-guide/projects/create-project.md
  content/docs/studio/user-guide/projects/share-project.md
  content/docs/studio/user-guide/teams.md
Labels: A: content, C: studio

#3780 docs: misc. updates (`exp branch` and `<admons>`)
  content/docs/command-reference/exp/branch.md
  content/docs/contributing/core.md
  content/docs/contributing/docs.md
  content/docs/user-guide/experiment-management/running-experiments.md
  content/docs/user-guide/project-structure/dvcyaml-files.md
Labels: A: content, C: guide, C: ref

#3756 Update checkpoints and DVCLive with DVC
  content/docs/dvclive/dvclive-with-dvc.md
  content/docs/user-guide/experiment-management/checkpoints.md
Labels: A: content, C: dvclive

#3788 add `yarn doc`
  package.json
Labels: A: website, dependencies

#3784 Plots: mention the VS Code Extension for visualization
  content/docs/command-reference/plots/index.md
  content/docs/start/data-management/metrics-parameters-plots.md
  content/docs/start/experiments/visualization.md
Labels: A: content, C: ref, C: start

#3799 hotfix: Virtual -> Visual (Studio Code)
  content/docs/sidebar.json
Labels: 🐛 type: bug, A: content

#3621 nav: clean up Studio nav + misc. updates
  content/docs/sidebar.json
  content/docs/studio/get-started.md
  content/docs/studio/how-it-works.md
  content/docs/studio/index.md
  content/docs/studio/troubleshooting.md
  content/docs/studio/user-guide/change-team-plan-and-size.md
  content/docs/studio/user-guide/connect-custom-gitlab-server.md
  content/docs/studio/user-guide/index.md
  content/docs/studio/user-guide/install-github-app.md
  content/docs/studio/user-guide/prepare-your-repositories.md
  content/docs/studio/user-guide/projects-and-experiments/configure-a-project.md
  content/docs/studio/user-guide/projects-and-experiments/create-a-project.md
  content/docs/studio/user-guide/projects-and-experiments/explore-ml-experiments.md
  content/docs/studio/user-guide/projects-and-experiments/run-experiments.md
  content/docs/studio/user-guide/projects-and-experiments/share-a-project.md
  content/docs/studio/user-guide/projects-and-experiments/visualize-and-compare.md
  content/docs/studio/user-guide/projects-and-experiments/what-is-a-project.md
  content/docs/studio/user-guide/teams.md
  redirects-list.json
Labels: A: content, C: studio

#3804 hotfix: 302 redirect
  redirects-list.json
Labels: 🐛 type: bug, website

#3778 Model Registry docs
  content/docs/sidebar.json
  content/docs/studio/get-started.md
  content/docs/studio/how-it-works.md
  content/docs/studio/index.md
  content/docs/studio/troubleshooting.md
  content/docs/studio/user-guide/model-registry/add-a-model.md
  content/docs/studio/user-guide/model-registry/assign-stage.md
  content/docs/studio/user-guide/model-registry/register-version.md
  content/docs/studio/user-guide/model-registry/view-models.md
  content/docs/studio/user-guide/model-registry/what-is-a-model-registry.md
  content/docs/studio/user-guide/prepare-your-repositories.md
  content/docs/studio/user-guide/projects-and-experiments/explore-ml-experiments.md
  content/docs/studio/user-guide/projects-and-experiments/what-is-a-project.md
  src/@dvcorg/gatsby-theme-iterative/components/LayoutHeader/alert.tsx
Labels: ⌛ status: wait-core-merge

#3800 Added blog post for MR release
  content/blog/2022-07-26-iterative-studio-model-registry.md
  static/uploads/images/2022-07-26/disconnected-silos.png
  static/uploads/images/2022-07-26/git-tags.png
  static/uploads/images/2022-07-26/model-details-page.png
  static/uploads/images/2022-07-26/model-management-chaos.png
  static/uploads/images/2022-07-26/models-dashboard.png
  static/uploads/images/2022-07-26/modular-toolstack.png
Labels: ⌛ status: wait-core-merge

#3811 node: unrestrict node version to allow 18.x
  .circleci/config.yml
  content/docs/contributing/docs.md
  package.json
Labels: dependencies

#3823 ref: `dvc plot` -> `plots` typos
  content/docs/command-reference/plots/index.md
  content/docs/command-reference/plots/modify.md
Labels: A: content, C: ref
