Repository iterative/dvc.org, pull requests merged in 2022-05, with the labels that each got.

#3500 blog: sanitise cml send-comment
  content/blog/2022-04-26-CML-runners-saving-models-1.md
Labels: C: blog

#3467 gc: note on cleaning data in the shared cache / remote case
  content/docs/command-reference/gc.md
  content/docs/user-guide/how-to/share-a-dvc-cache.md
Labels: type: enhancement, A: content, C: ref

#3495 Follow up to improve gdrive and move auth before service accounts
  content/docs/user-guide/setup-google-drive-remote.md
Labels: type: enhancement, A: content, C: guide

#3087 blog: TPI tutorial
  content/authors/maria_khalusova.md
  content/blog/2022-05-12-local-experiments-to-cloud-with-tpi.md
  static/uploads/avatars/maria_khalusova.jpg
  static/uploads/images/2022-05-12/header-bees.png
  yarn.lock
Labels: C: blog

#3540 Remove `cml publish` pipe from examples
  content/blog/2020-07-07-cml-release.md
  content/blog/2021-10-15-october-21-heartbeat.md
Labels: A: content, p0-critical, C: blog

#3542 remove unused image
  content/blog/2022-05-12-local-experiments-to-cloud-with-tpi.md
  static/uploads/avatars/maria_khalusova.jpeg
Labels: C: blog

#3554 Blog: May heartbeat
  content/blog/2022-05-16-may-22-heartbeat.md
  static/uploads/images/2022-05-16/chip-huyen.jpeg
  static/uploads/images/2022-05-16/data-version-control.png
  static/uploads/images/2022-05-16/dvc-visualization-doc.png
  static/uploads/images/2022-05-16/hiring.jpeg
  static/uploads/images/2022-05-16/img_pawpularity.png
  static/uploads/images/2022-05-16/innoq.jpeg
  static/uploads/images/2022-05-16/jenny-abramov.png
  static/uploads/images/2022-05-16/may-heartbeat.png
  static/uploads/images/2022-05-16/odsc.jpeg
  static/uploads/images/2022-05-16/release-party-meetup.png
Labels: C: blog

#3333 cases: Model Registries
  content/docs/sidebar.json
  content/docs/use-cases/data-registry.md
  content/docs/use-cases/model-registry.md
  content/docs/use-cases/versioning-data-and-model-files/index.md
  static/img/ml_model_registry.jpg
Labels: A: content, p1-important, C: cases

#3453 doc: use `--name-only` alias instead in exp/stage list
  content/docs/command-reference/exp/list.md
  content/docs/command-reference/stage/list.md
  content/docs/user-guide/experiment-management/comparing-experiments.md
  content/docs/user-guide/how-to/share-many-experiments.md
Labels: ⌛ status: wait-core-merge

#3566 Update get-started data management
  content/docs/start/data-management/access.md
  content/docs/start/data-management/index.md
  content/docs/start/data-management/metrics-parameters-plots.md
  content/docs/start/data-management/pipelines.md
  static/img/plots_cm_get_started_show.svg
  static/img/plots_importance_get_started_diff.png
  static/img/plots_importance_get_started_show.png
  static/img/plots_prc_get_started_diff.svg
  static/img/plots_prc_get_started_show.svg
  static/img/plots_roc_get_started_diff.svg
  static/img/plots_roc_get_started_show.svg
Labels: type: enhancement, A: content, C: start

#3246 TPI tutorial 2: with Docker
  content/blog/2022-05-12-local-experiments-to-cloud-with-tpi.md
  content/blog/2022-05-24-local-experiments-to-cloud-with-tpi-docker.md
  static/uploads/images/2022-05-19/tpi-docker-header.png
Labels: A: content, C: blog

#3602 Let sidebar uppercase more than `dvc` in labels made from slugs
  content/docs/sidebar.json
  plugins/gatsby-theme-iterative-docs/src/utils/shared/sidebar.js
Labels: A: website
