Repository iterative/dvc.org, pull requests merged in 2022-10, with the labels that each got.

#3936 Change documentation to reflect authors list
  content/docs/contributing/blog.md
Labels: website: eng-doc

#4016 start: remove Data Mgmt index page
  content/docs/sidebar.json
  content/docs/start/data-management/index.md
  content/docs/start/index.md
Labels: A: docs, C: start

#4017 guide: update links
  content/docs/command-reference/add.md
  content/docs/command-reference/cache/index.md
  content/docs/command-reference/checkout.md
  content/docs/command-reference/config.md
  content/docs/command-reference/dag.md
  content/docs/command-reference/destroy.md
  content/docs/command-reference/exp/show.md
  content/docs/command-reference/fetch.md
  content/docs/command-reference/import-url.md
  content/docs/command-reference/list.md
  content/docs/command-reference/move.md
  content/docs/command-reference/plots/diff.md
  content/docs/command-reference/plots/index.md
  content/docs/command-reference/plots/modify.md
  content/docs/command-reference/plots/show.md
  content/docs/command-reference/plots/templates.md
  content/docs/command-reference/remote/add.md
  content/docs/command-reference/remote/modify.md
  content/docs/command-reference/run.md
  content/docs/command-reference/stage/add.md
  content/docs/command-reference/version.md
  content/docs/dvclive/api-reference/live/log_plot.md
  content/docs/install/windows.md
  content/docs/sidebar.json
  content/docs/start/data-management/data-versioning.md
  content/docs/start/data-management/index.md
  content/docs/start/experiment-management/visualization.md
  content/docs/start/index.md
  content/docs/use-cases/fast-data-caching-hub.md
  content/docs/use-cases/versioning-data-and-models/index.md
  content/docs/use-cases/versioning-data-and-models/tutorial.md
  content/docs/user-guide/basic-concepts/external-dependency.md
  content/docs/user-guide/basic-concepts/file-link.md
  content/docs/user-guide/data-management/importing-external-data.md
  content/docs/user-guide/data-management/managing-external-data.md
  content/docs/user-guide/how-to/run-dvc-on-windows.md
  content/docs/user-guide/how-to/setup-google-drive-remote.md
  content/docs/user-guide/how-to/share-a-dvc-cache.md
  content/docs/user-guide/how-to/update-tracked-data.md
  content/docs/user-guide/pipelines/defining-pipelines.md
  content/docs/user-guide/privacy.md
  content/docs/user-guide/project-structure/dvc-files.md
  content/docs/user-guide/project-structure/dvcyaml-files.md
  content/docs/user-guide/project-structure/internal-files.md
  content/docs/user-guide/troubleshooting.md
  src/components/DownloadButton/index.tsx
Labels: A: docs, C: guide

#4024 hotfix: plots ref link to start/pipes
  content/docs/command-reference/plots/index.md
Labels: 🐛 type: bug, A: docs, C: ref

#3996 cmd-ref: Document ls-url command
  content/docs/command-reference/get-url.md
  content/docs/command-reference/import-url.md
  content/docs/command-reference/list-url.md
  content/docs/command-reference/list.md
  content/docs/sidebar.json
  content/linked-terms.js
Labels: A: docs, C: ref

#3789 guide: updates to `dvc.yaml` spec
  content/docs/command-reference/config.md
  content/docs/user-guide/project-structure/dvcyaml-files.md
Labels: A: docs, p2-nice-to-have, ⌛ status: wait-core-merge, C: guide

#4023 start: get faster to actionable commands
  content/docs/start/data-management/data-and-model-access.md
  content/docs/start/data-management/data-pipelines.md
  content/docs/start/data-management/data-versioning.md
  content/docs/start/data-management/metrics-parameters-plots.md
  content/docs/start/experiment-management/experiments.md
  content/docs/start/experiment-management/visualization.md
  content/docs/start/index.md
Labels: type: enhancement, A: docs, C: start

#4039 hotfix: dvc.yaml spec format
  content/docs/user-guide/project-structure/dvcyaml-files.md
Labels: 🐛 type: bug, A: docs, C: ref

#4015 guide: nav follow-ups
  content/docs/command-reference/add.md
  content/docs/command-reference/cache/index.md
  content/docs/command-reference/checkout.md
  content/docs/command-reference/config.md
  content/docs/command-reference/dag.md
  content/docs/command-reference/destroy.md
  content/docs/command-reference/exp/show.md
  content/docs/command-reference/fetch.md
  content/docs/command-reference/import-url.md
  content/docs/command-reference/list.md
  content/docs/command-reference/move.md
  content/docs/command-reference/plots/diff.md
  content/docs/command-reference/plots/index.md
  content/docs/command-reference/plots/modify.md
  content/docs/command-reference/plots/show.md
  content/docs/command-reference/plots/templates.md
  content/docs/command-reference/remote/add.md
  content/docs/command-reference/remote/modify.md
  content/docs/command-reference/run.md
  content/docs/command-reference/stage/add.md
  content/docs/command-reference/version.md
  content/docs/dvclive/api-reference/live/log_plot.md
  content/docs/install/windows.md
  content/docs/sidebar.json
  content/docs/start/data-management/data-versioning.md
  content/docs/start/experiment-management/visualization.md
  content/docs/use-cases/fast-data-caching-hub.md
  content/docs/use-cases/versioning-data-and-models/index.md
  content/docs/use-cases/versioning-data-and-models/tutorial.md
  content/docs/user-guide/basic-concepts/external-dependency.md
  content/docs/user-guide/basic-concepts/file-link.md
  content/docs/user-guide/data-management/importing-external-data.md
  content/docs/user-guide/data-management/managing-external-data.md
  content/docs/user-guide/experiment-management/visualizing-plots.md
  content/docs/user-guide/how-to/run-dvc-on-windows.md
  content/docs/user-guide/how-to/setup-google-drive-remote.md
  content/docs/user-guide/how-to/share-a-dvc-cache.md
  content/docs/user-guide/how-to/update-tracked-data.md
  content/docs/user-guide/pipelines/defining-pipelines.md
  content/docs/user-guide/privacy.md
  content/docs/user-guide/project-structure/dvc-files.md
  content/docs/user-guide/project-structure/dvcyaml-files.md
  content/docs/user-guide/project-structure/internal-files.md
  content/docs/user-guide/troubleshooting.md
  redirects-list.json
Labels: A: docs, C: guide

#3924 ref: `data status` updates
  content/docs/command-reference/data/status.md
  content/docs/command-reference/status.md
Labels: A: docs, p2-nice-to-have, C: ref

#4007 term: review usage of "Git workflow" (and "GitOps")
  content/docs/start/data-management/data-versioning.md
  content/docs/start/index.md
  content/docs/studio/index.md
  content/docs/use-cases/data-registry/index.md
  content/docs/use-cases/data-registry/tutorial.md
  content/docs/use-cases/model-registry.md
  content/docs/user-guide/overview.md
  content/docs/user-guide/pipelines/defining-pipelines.md
  content/docs/user-guide/what-is-dvc.md
Labels: type: enhancement, A: docs

#3923 DVCLive: Revisit docs organization and content
  content/docs/dvclive/api-reference/index.md
  content/docs/dvclive/api-reference/live/index.md
  content/docs/dvclive/api-reference/live/make_report.md
  content/docs/dvclive/api-reference/ml-frameworks/catalyst.md
  content/docs/dvclive/api-reference/ml-frameworks/fastai.md
  content/docs/dvclive/api-reference/ml-frameworks/huggingface.md
  content/docs/dvclive/api-reference/ml-frameworks/index.md
  content/docs/dvclive/api-reference/ml-frameworks/keras.md
  content/docs/dvclive/api-reference/ml-frameworks/lightgbm.md
  content/docs/dvclive/api-reference/ml-frameworks/mmcv.md
  content/docs/dvclive/api-reference/ml-frameworks/pytorch-lightning.md
  content/docs/dvclive/api-reference/ml-frameworks/pytorch.md
  content/docs/dvclive/api-reference/ml-frameworks/tensorflow.md
  content/docs/dvclive/api-reference/ml-frameworks/xgboost.md
  content/docs/dvclive/dvclive-with-dvc.md
  content/docs/dvclive/get-started.md
  content/docs/dvclive/index.md
  content/docs/dvclive/ml-frameworks/index.md
  content/docs/dvclive/outputs.md
  content/docs/sidebar.json
  redirects-list.json
Labels: A: docs, C: dvclive

#4046 ssh: Document `password` and `passphrase` decoupling.
  content/docs/command-reference/remote/modify.md
Labels: A: docs, C: ref

#4061 ref: add config.parsing section link
  content/docs/command-reference/config.md
Labels: type: enhancement, A: docs, C: ref

#4077 Fix #3963. Update setup-google-drive-remote.md
  content/docs/user-guide/how-to/setup-google-drive-remote.md
Labels: A: docs, C: guide

#4072 guide: updates to Plots config samples
  content/docs/user-guide/experiment-management/visualizing-plots.md
Labels: A: docs, p2-nice-to-have, C: guide

#4079 guide: drop dvc.lock for merge conflicts
  content/docs/user-guide/how-to/resolve-merge-conflicts.md
Labels: A: docs, C: guide

#4070 studio/MR: clarifications around adding models
  content/docs/studio/user-guide/model-registry/add-a-model.md
Labels: A: docs, C: studio

#4034 DON'T MERGE YET: Content for CML workflow in Studio
  content/docs/studio/get-started.md
  content/docs/studio/user-guide/prepare-your-repositories.md
  content/docs/studio/user-guide/projects-and-experiments/run-experiments.md
Labels: ⌛ status: wait-core-merge, C: studio
