Repository iterative/dvc.org, pull requests merged in 2022-11, with the labels that each got.

#4069 Studio/nav: start with GS
  content/docs/sidebar.json
  content/docs/studio/get-started.md
Labels: A: docs, C: studio

#3990 docs: dvcfs: use read_bytes/read_text instead of cat_file
  content/docs/api-reference/dvcfilesystem.md
Labels: A: docs, C: ref

#4093 fix: H2->3 in <details> sections
  content/docs/start/data-management/data-and-model-access.md
  content/docs/start/data-management/data-pipelines.md
  content/docs/start/data-management/data-versioning.md
  content/docs/start/data-management/metrics-parameters-plots.md
  content/docs/start/experiment-management/experiments.md
  content/docs/user-guide/how-to/stop-tracking-data.md
  content/docs/user-guide/pipelines/defining-pipelines.md
Labels: A: docs, p2-nice-to-have, website: ux

#4043 term: metafile vs DVC file
  content/docs/user-guide/project-structure/dvcyaml-files.md
Labels: type: discussion, A: docs

#4081 Support for str fields in top-level plots
  content/docs/command-reference/plots/show.md
  content/docs/user-guide/experiment-management/visualizing-plots.md
  content/docs/user-guide/project-structure/dvcyaml-files.md
Labels: A: docs, ⌛ status: wait-core-merge, C: guide, C: ref

#4085 dvclive 1.0
  content/docs/command-reference/exp/init.md
  content/docs/command-reference/plots/index.md
  content/docs/dvclive/api-reference/index.md
  content/docs/dvclive/api-reference/live/get_step.md
  content/docs/dvclive/api-reference/live/index.md
  content/docs/dvclive/api-reference/live/log.md
  content/docs/dvclive/api-reference/live/log_image.md
  content/docs/dvclive/api-reference/live/log_metric.md
  content/docs/dvclive/api-reference/live/log_param.md
  content/docs/dvclive/api-reference/live/log_params.md
  content/docs/dvclive/api-reference/live/log_sklearn_plot.md
  content/docs/dvclive/api-reference/live/make_report.md
  content/docs/dvclive/api-reference/live/make_summary.md
  content/docs/dvclive/api-reference/live/next_step.md
  content/docs/dvclive/api-reference/live/set_step.md
  content/docs/dvclive/api-reference/ml-frameworks/catalyst.md
  content/docs/dvclive/api-reference/ml-frameworks/fastai.md
  content/docs/dvclive/api-reference/ml-frameworks/huggingface.md
  content/docs/dvclive/api-reference/ml-frameworks/keras.md
  content/docs/dvclive/api-reference/ml-frameworks/lightgbm.md
  content/docs/dvclive/api-reference/ml-frameworks/mmcv.md
  content/docs/dvclive/api-reference/ml-frameworks/pytorch-lightning.md
  content/docs/dvclive/api-reference/ml-frameworks/pytorch.md
  content/docs/dvclive/api-reference/ml-frameworks/tensorflow.md
  content/docs/dvclive/api-reference/ml-frameworks/xgboost.md
  content/docs/dvclive/get-started.md
  content/docs/dvclive/how-it-works.md
  content/docs/dvclive/index.md
  content/docs/dvclive/outputs.md
  content/docs/sidebar.json
  content/docs/start/experiment-management/experiments.md
  content/docs/start/experiment-management/visualization.md
  content/docs/user-guide/experiment-management/checkpoints.md
  content/docs/user-guide/experiment-management/visualizing-plots.md
Labels: A: docs, C: dvclive

#4041 Hydra: updates to config composition info.
  content/docs/command-reference/commit.md
  content/docs/command-reference/config.md
  content/docs/command-reference/exp/run.md
  content/docs/command-reference/run.md
  content/docs/command-reference/stage/add.md
  content/docs/user-guide/experiment-management/hydra-composition.md
  content/docs/user-guide/experiment-management/running-experiments.md
  content/docs/user-guide/project-structure/dvcyaml-files.md
Labels: type: enhancement, A: docs, C: guide, C: ref

#4106 Update contributing guide to DVC
  content/docs/contributing/core.md
Labels: A: docs, C: guide

#4108 features: kill page
  redirects-list.json
  src/@dvcorg/gatsby-theme-iterative/components/HamburgerMenu/index.tsx
  src/@dvcorg/gatsby-theme-iterative/components/LayoutFooter/index.tsx
  src/@dvcorg/gatsby-theme-iterative/components/data/menu.ts
  src/components/Features/index.tsx
  src/components/Features/styles.module.css
  src/components/Home/Diagram/index.tsx
  src/components/Home/index.tsx
  src/components/Support/index.tsx
  src/pages/features.tsx
Labels: A: docs, A: website

#4110 Document support for SVG plots
  content/docs/command-reference/plots/index.md
  content/docs/command-reference/plots/show.md
  content/docs/command-reference/run.md
  content/docs/command-reference/stage/add.md
  content/docs/studio/user-guide/projects-and-experiments/visualize-and-compare.md
  content/docs/user-guide/experiment-management/visualizing-plots.md
Labels: A: docs, ⌛ status: wait-core-merge, C: guide, C: ref

#4125 Fixed 2 links in the run experiments page
  content/docs/studio/user-guide/projects-and-experiments/run-experiments.md
Labels: C: studio

#4130 dvclive: link to dvclive docs (contrib)
  content/docs/dvclive/index.md
Labels: A: docs, C: dvclive

#4133 Update hydra-composition.md
  content/docs/user-guide/experiment-management/hydra-composition.md
Labels: 🐛 type: bug, A: docs

#4104 studio/start: faster to value demo
  content/docs/studio/get-started.md
  content/docs/studio/how-it-works.md
  content/docs/studio/index.md
  content/docs/studio/user-guide/billing-and-payment.md
  content/docs/studio/user-guide/projects-and-experiments/create-a-project.md
  content/docs/studio/user-guide/projects-and-experiments/run-experiments.md
Labels: A: docs, C: start, C: studio

#4131 Add GTO docs link to sidebar
  content/docs/sidebar.json
Labels: A: docs

#4127 Fix wording of copy-on-write notes for git-annex
  content/docs/user-guide/overview.md
Labels: 🐛 type: bug, A: docs

#4136 Install: clarifictions around Python library methods
  content/docs/install/index.md
  content/docs/install/linux.md
  content/docs/install/macos.md
  content/docs/install/windows.md
Labels: type: enhancement, A: docs

#4126 Studio: Shortened the example for auto-hiding with [skip studio]
  content/docs/studio/user-guide/projects-and-experiments/explore-ml-experiments.md
Labels: A: docs, C: studio

#4146 Remove GTO docs from sidebar & update existing links (mainly Studio)
  content/docs/sidebar.json
  content/docs/studio/how-it-works.md
  content/docs/studio/index.md
  content/docs/studio/troubleshooting.md
  content/docs/studio/user-guide/model-registry/add-a-model.md
  content/docs/studio/user-guide/model-registry/assign-stage.md
  content/docs/studio/user-guide/model-registry/register-version.md
  content/docs/studio/user-guide/model-registry/view-models.md
  content/docs/studio/user-guide/model-registry/what-is-a-model-registry.md
  content/docs/studio/user-guide/prepare-your-repositories.md
  content/docs/use-cases/model-registry.md
Labels: A: docs
