Repository iterative/dvc.org, pull requests merged in 2022-04, with the labels that each got.

#3193 `exp remove`: add `--rev` and `-n` options
  content/docs/command-reference/exp/remove.md
Labels: ⌛ status: wait-core-merge

#3446 blog: April Heartbeat
  content/blog/2022-04-15-april-22-heartbeat.md
  static/uploads/images/2022-04-15/Machine-Learning-Operations.jpeg
  static/uploads/images/2022-04-15/ahmed-abdullah.png
  static/uploads/images/2022-04-15/april-heartbeat-cover.png
  static/uploads/images/2022-04-15/chip-huyen.png
  static/uploads/images/2022-04-15/clayton-christensen.png
  static/uploads/images/2022-04-15/cml-workflow.jpeg
  static/uploads/images/2022-04-15/kaushik-shakkari.png
  static/uploads/images/2022-04-15/stale-model-cover.png
  static/uploads/images/2022-04-15/yashaswi-nayak.png
  static/uploads/images/2022-04-15/zoumana-keita.png
Labels: C: blog

#3419 Added Studio docs for email sign up and custom Gitlab server support
  content/docs/sidebar.json
  content/docs/studio/get-started.md
  content/docs/studio/user-guide/account-management.md
  content/docs/studio/user-guide/connect-custom-gitlab-server.md
  content/docs/studio/user-guide/index.md
  content/docs/studio/user-guide/teams.md
  content/docs/studio/user-guide/views/create-view.md
Labels: ⌛ status: wait-core-merge

#3331 Application assignment rob
  content/authors/rob_dewit.md
  content/blog/2022-04-26-CML-runners-saving-models-1.md
  static/uploads/avatars/rob_dewit.jpg
  static/uploads/images/2022-04-26/saving-models-cover.jpeg
Labels: C: blog

#3399 blog: TPI - Release post
  content/blog/2022-04-27-terraform-provider.md
  static/uploads/images/2022-04-27/terraform-provider-iterative.png
Labels: C: blog

#3435 ref: reorder repro options
  content/docs/command-reference/exp/run.md
  content/docs/command-reference/repro.md
Labels: ⌛ status: wait-core-merge

#3473 gdrive remote service accounts can use env var
  content/docs/user-guide/setup-google-drive-remote.md
Labels: type: enhancement, A: content, C: guide
