Repository iterative/dvc.org, pull requests merged in 2023-11, with the labels that each got.

#4926 Add aliases for common commands
  content/docs/command-reference/exp/list.md
  content/docs/command-reference/exp/remove.md
  content/docs/command-reference/move.md
  content/docs/command-reference/remove.md
  content/linked-terms.js
Labels: ⌛ status: wait-core-merge

#4939 Studio Model Download section
  content/docs/studio/rest-api.md
  content/docs/studio/user-guide/model-registry/use-models.md
  static/img/mr-direct-download.png
  static/img/mr-dvc-get.png
Labels: A: docs, ⌛ status: wait-core-merge, C: studio

#4996 Remove run experiment sections of Studio docs
  content/docs/studio/experiments.md
  content/docs/studio/index.md
  content/docs/studio/user-guide/account-and-billing/index.md
  content/docs/studio/user-guide/experiments/explore-ml-experiments.md
  content/docs/studio/user-guide/experiments/index.md
  content/docs/studio/user-guide/experiments/run-experiments.md
  content/docs/studio/user-guide/team-collaboration/index.md
  content/docs/studio/user-guide/troubleshooting.md
  content/docs/user-guide/experiment-management/running-experiments.md
Labels: A: docs

#5004 fix(dvclive): add timestamp param to log metrics
  content/docs/dvclive/how-it-works.md
  content/docs/dvclive/live/log_metric.md
  content/docs/dvclive/live/log_param.md
  content/docs/dvclive/live/log_params.md
Labels: A: docs, C: dvclive
