Repository iterative/dvc.org, pull requests merged in 2023-12, with the labels that each got.

#4737 Implement dvc.org redesign to include dvcx coming soon
  content/data/dvc.yml
  content/data/dvcx.yml
  plugins/landing-page/gatsby-node.ts
  src/@dvcorg/gatsby-theme-iterative/components/HamburgerMenu/index.tsx
  src/@dvcorg/gatsby-theme-iterative/components/LayoutHeader/Nav/LinkItems/styles.module.css
  src/@dvcorg/gatsby-theme-iterative/components/LayoutHeader/Nav/index.tsx
  src/components/HeroContainer/index.tsx
  src/components/HeroSection/styles.module.css
  src/components/Home/Hero/BetterTogether/index.tsx
  src/components/Home/Hero/GetOnTheWaitlist/Form.tsx
  src/components/Home/Hero/GetStarted/GetStartedWithDvc.tsx
  src/components/Home/Hero/GetStarted/GetStartedWithDvcX.tsx
  src/components/Home/Hero/GetStarted/styles.module.css
  src/components/Home/Hero/HeroSection.tsx
  src/components/Home/Hero/HeroTitleSection.tsx
  src/components/Home/Hero/index.tsx
  src/components/Home/Hero/styles.module.css
  src/components/Home/LandingHero/DvcSlides.tsx
  src/components/Home/LandingHero/DvcxSlides.tsx
  src/components/Home/LandingHero/Slides/index.tsx
  src/components/Home/LandingHero/index.tsx
  src/components/Home/LogosSlider/CompanyLogos.tsx
  src/components/Home/LogosSlider/index.tsx
  src/components/Home/LogosSlider/styles.module.css
  src/components/Home/index.tsx
  src/components/Home/styles.module.css
  src/components/Spinner/index.tsx
  src/components/Support/index.tsx
  src/components/TwoRowsButton/styles.module.css
  src/imgs/arrow-down-white.svg
  src/imgs/arrow-right-black.svg
  src/pages/index.tsx
  src/utils/externalUrls.ts
  src/utils/format.ts
  src/utils/index.ts
  static/img/arrow-down-white.svg
  static/img/arrow-right-black.svg
  static/img/landing/Hero Visualization.svg
  static/img/landing/star-github.svg
  static/img/logos/dvc.svg
  static/img/logos/dvcx.svg
  tailwind.config.js
Labels: A: website

#5010 Change 'dvc get' to 'artifacts get'
  content/docs/studio/user-guide/model-registry/use-models.md
Labels: A: docs, C: studio

#5030 document env vars
  content/docs/dvclive/env.md
  content/docs/sidebar.json
  content/docs/user-guide/env.md
Labels: A: docs, C: guide

#5015 studio: Add DVC Studio commands to documentation
  content/docs/command-reference/studio/index.md
  content/docs/command-reference/studio/login.md
  content/docs/command-reference/studio/logout.md
  content/docs/command-reference/studio/token.md
  content/docs/sidebar.json
  content/docs/studio/user-guide/account-and-billing/index.md
Labels: A: docs, C: auth

#5061 Get Started: Model management- GitLab template
  content/docs/start/model-management/model-cicd.md
Labels: A: docs

#5039 dvclive: add fabric integration
  content/docs/dvclive/ml-frameworks/fabric.md
  content/docs/sidebar.json
Labels: ⌛ status: wait-core-merge, C: dvclive
