Repository iterative/dvc.org, pull requests merged in 2023-06, with the labels that each got.

#4443 exp show: Drop `--pcp`.
  content/docs/command-reference/exp/show.md
  content/docs/user-guide/experiment-management/comparing-experiments.md
  static/img/pcp_interaction.gif
Labels: ⌛ status: wait-core-merge

#4441 exp: drop `gc`.
  content/docs/command-reference/exp/gc.md
  content/docs/command-reference/exp/index.md
  content/docs/command-reference/exp/run.md
  content/docs/command-reference/gc.md
  content/docs/sidebar.json
  content/docs/user-guide/experiment-management/checkpoints.md
  content/docs/user-guide/experiment-management/cleaning-experiments.md
  content/docs/user-guide/experiment-management/running-experiments.md
Labels: ⌛ status: wait-core-merge, C: ref

#4574 Drops external outputs and updates external data guides
  content/docs/command-reference/add.md
  content/docs/command-reference/destroy.md
  content/docs/command-reference/stage/add.md
  content/docs/command-reference/version.md
  content/docs/sidebar.json
  content/docs/user-guide/data-management/importing-external-data.md
  content/docs/user-guide/data-management/managing-external-data.md
  content/docs/user-guide/how-to/share-a-dvc-cache.md
  content/docs/user-guide/pipelines/defining-pipelines.md
  content/docs/user-guide/pipelines/external-dependencies-and-outputs.md
  content/docs/user-guide/project-structure/configuration.md
  content/docs/user-guide/project-structure/dvc-files.md
Labels: blocked

#4633 Add more errors to troubleshooting guide
  content/docs/studio/troubleshooting.md
Labels: C: studio
