Repository iterative/dvc.org, pull requests merged in 2023-09, with the labels that each got.

#4822 Move GTO docs here from mlem.ai
  content/docs/gto/command-reference/assign.md
  content/docs/gto/command-reference/check-ref.md
  content/docs/gto/command-reference/deprecate.md
  content/docs/gto/command-reference/describe.md
  content/docs/gto/command-reference/doctor.md
  content/docs/gto/command-reference/history.md
  content/docs/gto/command-reference/index.md
  content/docs/gto/command-reference/register.md
  content/docs/gto/command-reference/remove.md
  content/docs/gto/command-reference/show.md
  content/docs/gto/command-reference/stages.md
  content/docs/gto/get-started.md
  content/docs/gto/index.md
  content/docs/gto/install.md
  content/docs/gto/user-guide/index.md
  content/docs/gto/why-gto.md
  content/docs/sidebar.json
  content/docs/studio/troubleshooting.md
  content/docs/studio/user-guide/model-registry/add-a-model.md
  content/docs/studio/user-guide/model-registry/assign-stage.md
  content/docs/studio/user-guide/model-registry/register-version.md
  content/docs/studio/user-guide/model-registry/remove-a-model-or-its-details.md
  content/docs/studio/user-guide/model-registry/use-models.md
  content/docs/studio/user-guide/model-registry/view-and-compare-models.md
  content/docs/studio/user-guide/model-registry/what-is-a-model-registry.md
  content/docs/studio/user-guide/projects-and-experiments/what-is-a-project.md
  content/docs/use-cases/model-registry.md
  src/@dvcorg/gatsby-theme-iterative/components/LayoutFooter/index.tsx
  src/@dvcorg/gatsby-theme-iterative/components/LayoutHeader/Nav/Popup/styles.module.css
  src/@dvcorg/gatsby-theme-iterative/data/menu.ts
  src/@dvcorg/gatsby-theme-iterative/data/styles.module.css
Labels: A: docs

#4831 exp run: Copy `Only pull pipeline data as needed` example from dvc repro
  content/docs/command-reference/exp/run.md
Labels: C: ref

#4829 Change copy around activating plots in a project
  content/docs/studio/user-guide/projects-and-experiments/visualize-and-compare.md
  static/img/studio-toggle-plots.png
Labels: A: docs, C: studio

#4849 import: Add `--force` flag.
  content/docs/command-reference/import.md
Labels: C: ref

#4851 feat(get-started): cache the whole eval directory
  content/docs/start/data-management/metrics-parameters-plots.md
Labels: type: enhancement, A: docs, C: start

#4805 exp rename: Add rename command
  content/docs/command-reference/exp/rename.md
  content/docs/sidebar.json
Labels: C: ref

#4840 DVCLive 3.0
  content/docs/command-reference/metrics/index.md
  content/docs/dvclive/how-it-works.md
  content/docs/dvclive/index.md
  content/docs/dvclive/live/end.md
  content/docs/dvclive/live/index.md
  content/docs/dvclive/live/log_image.md
  content/docs/dvclive/live/log_plot.md
  content/docs/dvclive/live/log_sklearn_plot.md
  content/docs/dvclive/live/make_dvcyaml.md
  content/docs/dvclive/ml-frameworks/catalyst.md
  content/docs/dvclive/ml-frameworks/fastai.md
  content/docs/dvclive/ml-frameworks/huggingface.md
  content/docs/dvclive/ml-frameworks/keras.md
  content/docs/dvclive/ml-frameworks/lightgbm.md
  content/docs/dvclive/ml-frameworks/mmcv.md
  content/docs/dvclive/ml-frameworks/optuna.md
  content/docs/dvclive/ml-frameworks/pytorch-lightning.md
  content/docs/dvclive/ml-frameworks/pytorch.md
  content/docs/dvclive/ml-frameworks/scikit-learn.md
  content/docs/dvclive/ml-frameworks/tensorflow.md
  content/docs/dvclive/ml-frameworks/xgboost.md
  content/docs/start/experiments/experiment-tracking.md
  content/docs/studio/user-guide/experiments/live-metrics-and-plots.md
  content/docs/user-guide/experiment-management/index.md
  content/docs/user-guide/experiment-management/visualizing-plots.md
Labels: C: dvclive

#4879 fix(gto): update push option descriptions
  content/docs/gto/command-reference/assign.md
  content/docs/gto/command-reference/deprecate.md
  content/docs/gto/command-reference/register.md
Labels: A: docs, C: gto

#4809 ref: document `dvc artifacts get`
  content/docs/api-reference/artifacts_show.md
  content/docs/command-reference/artifacts/get.md
  content/docs/command-reference/artifacts/index.md
  content/docs/sidebar.json
Labels: ⌛ status: wait-core-merge
