Repository iterative/dvc.org, pull requests merged in 2023-04, with the labels that each got.

#4449 optuna: Show how to include trial.params in the experiment.
  content/docs/dvclive/ml-frameworks/optuna.md
Labels: C: dvclive

#4452 Be more precise in how we select the metrics to be displayed
  content/docs/studio/get-started.md
Labels: A: docs

#4451 Update renovate config
  renovate.json
Labels: p1-important

#4463 Support for `Path` and `str` to an existing image in `dvclive.log_image`
  content/docs/dvclive/live/log_image.md
Labels: A: docs, ⌛ status: wait-core-merge, C: dvclive

#4459 Animated logo carousel
  src/components/Home/LogosSlider/CompanyLogos.tsx
  src/components/Home/LogosSlider/index.tsx
  src/components/Home/LogosSlider/styles.module.css
  src/components/Home/WhatsNewModal/styles.module.css
  src/components/Home/index.tsx
  src/components/SubscribeSection/glyph-1.svg
  src/components/SubscribeSection/glyph-2.svg
  static/logos/aicon.svg
  static/logos/billie.svg
  static/logos/cyclica.png
  static/logos/degould.png
  static/logos/huggingface.svg
  static/logos/inlab-digital.svg
  static/logos/mantis.svg
  static/logos/papercup.png
  static/logos/pieces.png
  static/logos/plasmasolve.png
  static/logos/sicara.png
  static/logos/ubs.png
  static/logos/ukho.png
  static/logos/xp-inc-new.webp
  tailwind.config.js
Labels: p1-important

#4464 Fix dvclive api reference redirect
  redirects-list.json
Labels: A: docs, C: dvclive

#4466 Add component diagram for Studio
  content/docs/studio/self-hosting/installation/index.md
  static/img/studio-architecture-diagram.svg
Labels: C: studio

#4471 studio: Add page about creating a support bundle
  content/docs/sidebar.json
  content/docs/studio/self-hosting/troubleshooting/support-bundle.md
Labels: C: studio

#4475 exp run: Add `--copy-paths`.
  content/docs/command-reference/exp/run.md
Labels: C: ref

#4474 studio: Add section with system requirements
  content/docs/studio/self-hosting/installation/index.md
Labels: C: studio

#4491 exp sharing updates - Studio docs
  content/docs/studio/get-started.md
  content/docs/studio/troubleshooting.md
  content/docs/studio/user-guide/projects-and-experiments/explore-ml-experiments.md
  content/docs/studio/user-guide/projects-and-experiments/live-metrics-and-plots.md
  content/docs/studio/user-guide/projects-and-experiments/what-is-a-project.md
Labels: C: studio
