Repository iterative/dvc.org, pull requests merged in 2023-01, with the labels that each got.

#4216 Use cml to create download link PR
  .github/workflows/update.yaml
  content/docs/user-guide/data-management/cloud-versioning.md
Labels: p2-nice-to-have

#4224 docs/contributing: Clarify supported Node.js version
  content/docs/contributing/docs.md
Labels: 🐛 type: bug, A: docs

#4232 fix(docs/studio): update gitlab self-hosted link
  content/docs/studio/get-started.md
  content/docs/studio/user-guide/projects-and-experiments/create-a-project.md
Labels: A: docs

#4234 ref: `queue kill --force` update &
  content/docs/command-reference/queue/kill.md
Labels: 🐛 type: bug, A: docs, C: ref

#4144 guide: update COW link note
  content/docs/user-guide/data-management/large-dataset-optimization.md
  content/docs/user-guide/overview.md
Labels: A: docs, C: guide

#4244 Studio: mention live.end() in live metrics docs
  content/docs/studio/user-guide/projects-and-experiments/live-metrics-and-plots.md
Labels: C: studio

#4207 start: clarify Data Mgmt/ Plots section
  content/docs/start/data-management/metrics-parameters-plots.md
Labels: type: enhancement, A: docs, C: start

#4252 get-started: update plots ordering
  content/docs/start/data-management/metrics-parameters-plots.md
Labels: type: enhancement, A: docs, ⌛ status: wait-core-merge, C: start

#4223 ref: add `read_timeout` and `connect_timeout` config options (`remote add`)
  content/docs/command-reference/remote/modify.md
Labels: A: docs, C: ref

#4058 guide: remote storage
  content/docs/command-reference/config.md
  content/docs/command-reference/remote/add.md
  content/docs/command-reference/remote/default.md
  content/docs/command-reference/remote/index.md
  content/docs/command-reference/remote/list.md
  content/docs/command-reference/remote/modify.md
  content/docs/command-reference/remote/remove.md
  content/docs/command-reference/remote/rename.md
  content/docs/sidebar.json
  content/docs/user-guide/data-management/remote-storage.md
  content/docs/user-guide/project-structure/internal-files.md
Labels: A: docs, p1-important, C: guide, C: ref

#4263 Studio: Change "Run" button to "Experiment" button as per change in S…
  content/docs/studio/user-guide/projects-and-experiments/explore-ml-experiments.md
  content/docs/studio/user-guide/projects-and-experiments/run-experiments.md
Labels: C: studio

#4243 guide: Move Overview back into UG index page + update other indices
  content/docs/api-reference/index.md
  content/docs/command-reference/index.md
  content/docs/index.md
  content/docs/sidebar.json
  content/docs/start/index.md
  content/docs/use-cases/index.md
  content/docs/user-guide/index.md
  content/docs/user-guide/what-is-dvc.md
  redirects-list.json
Labels: A: docs, C: guide

#4268 ref: md link ref in `config`
  content/docs/command-reference/config.md
Labels: A: docs, p2-nice-to-have, C: ref

#4220 guide: update experiment onboarding
  content/docs/sidebar.json
  content/docs/user-guide/experiment-management/comparing-experiments.md
  content/docs/user-guide/experiment-management/experiments-overview.md
  content/docs/user-guide/experiment-management/index.md
  content/docs/user-guide/project-structure/index.md
Labels: A: docs, C: guide

#4272 fix: link to Experiments (index page)
  content/docs/command-reference/exp/gc.md
  content/docs/command-reference/exp/init.md
  content/docs/command-reference/exp/list.md
  content/docs/command-reference/exp/pull.md
  content/docs/command-reference/exp/push.md
  content/docs/command-reference/exp/run.md
  content/docs/command-reference/exp/save.md
  content/docs/command-reference/queue/index.md
  content/docs/command-reference/queue/kill.md
  content/docs/command-reference/queue/logs.md
  content/docs/command-reference/queue/remove.md
  content/docs/command-reference/queue/status.md
  content/docs/command-reference/queue/stop.md
  content/docs/install/index.md
  content/docs/start/experiment-management/experiments.md
  content/docs/user-guide/experiment-management/checkpoints.md
  content/docs/user-guide/experiment-management/sharing-experiments.md
  content/docs/user-guide/experiment-management/visualizing-plots.md
Labels: 🐛 type: bug, A: docs

#4275 guide: redirect from (dead) exp/overview page (to index)
  redirects-list.json
Labels: A: website, C: guide

#4273 ref: make data status more visible
  content/docs/sidebar.json
  content/docs/user-guide/project-structure/dvc-files.md
Labels: type: enhancement, A: docs, C: ref
