Repository iterative/dvc.org, pull requests merged in 2023-02, with the labels that each got.

#4257 Studio: Document live metrics for local experiments
  content/docs/studio/get-started.md
  content/docs/studio/how-it-works.md
  content/docs/studio/user-guide/projects-and-experiments/live-metrics-and-plots.md
  content/docs/studio/user-guide/projects-and-experiments/visualize-and-compare.md
Labels: C: studio

#4280 include custom auth header for webdav
  content/docs/command-reference/remote/modify.md
Labels: A: docs, C: ref

#4286 dvclive: 2.0 docs (adds make_dvcyaml)
  content/docs/dvclive/api-reference/index.md
  content/docs/dvclive/api-reference/live/end.md
  content/docs/dvclive/api-reference/live/index.md
  content/docs/dvclive/api-reference/live/make_dvcyaml.md
  content/docs/dvclive/api-reference/live/make_report.md
  content/docs/dvclive/api-reference/live/make_summary.md
  content/docs/dvclive/api-reference/live/next_step.md
  content/docs/dvclive/how-it-works.md
  content/docs/sidebar.json
Labels: ⌛ status: wait-core-merge

#4281 ref: add cloud versioning examples
  content/docs/command-reference/import-url.md
  content/docs/command-reference/push.md
Labels: A: docs, C: ref

#4309 drop worktree remotes
  content/docs/command-reference/remote/modify.md
  content/docs/command-reference/update.md
  content/docs/user-guide/data-management/cloud-versioning.md
Labels: A: docs, C: guide, C: ref

#4203 typos
  content/docs/user-guide/basic-concepts/experiment.md
Labels: A: docs, website: eng-doc, p2-nice-to-have

#4306 dvclive: Document more monitoring options
  content/docs/dvclive/api-reference/live/index.md
  content/docs/dvclive/api-reference/live/make_report.md
  content/docs/dvclive/get-started.md
  static/img/dvclive-cml.gif
  static/img/dvclive-notebook.gif
  static/img/dvclive-studio-plots.png
  static/img/dvclive-studio.gif
  static/img/dvclive-studio.png
Labels: A: docs, C: ref, C: dvclive

#4062 ref: remote updates
  content/docs/command-reference/config.md
  content/docs/command-reference/import-url.md
  content/docs/command-reference/remote/add.md
  content/docs/command-reference/remote/default.md
  content/docs/command-reference/remote/index.md
  content/docs/command-reference/remote/list.md
  content/docs/command-reference/remote/modify.md
  content/docs/command-reference/remote/remove.md
  content/docs/command-reference/remote/rename.md
  content/docs/command-reference/update.md
  content/docs/user-guide/data-management/cloud-versioning.md
  content/docs/user-guide/project-structure/dvc-files.md
Labels: type: enhancement, A: docs, C: guide, C: ref

#4262 guide: more links to Remote Storage page
  content/docs/install/linux.md
  content/docs/install/macos.md
  content/docs/install/windows.md
  content/docs/start/data-management/data-and-model-access.md
  content/docs/start/data-management/data-versioning.md
  content/docs/studio/user-guide/projects-and-experiments/configure-a-project.md
  content/docs/studio/user-guide/projects-and-experiments/live-metrics-and-plots.md
  content/docs/use-cases/ci-cd-for-machine-learning.md
  content/docs/use-cases/data-registry/index.md
  content/docs/use-cases/model-registry.md
  content/docs/use-cases/versioning-data-and-models/index.md
  content/docs/use-cases/versioning-data-and-models/tutorial.md
  content/docs/user-guide/data-management/importing-external-data.md
  content/docs/user-guide/data-management/managing-external-data.md
  content/docs/user-guide/data-management/remote-storage.md
  content/docs/user-guide/experiment-management/sharing-experiments.md
  content/docs/user-guide/how-to/setup-google-drive-remote.md
  content/docs/user-guide/index.md
  content/docs/user-guide/privacy.md
  content/docs/user-guide/project-structure/internal-files.md
  content/docs/user-guide/troubleshooting.md
Labels: type: enhancement, A: docs, C: guide, C: start, C: studio

#4310 Studio: document export to CSV
  content/docs/studio/user-guide/projects-and-experiments/explore-ml-experiments.md
  content/docs/studio/user-guide/projects-and-experiments/visualize-and-compare.md
Labels: A: docs, C: studio

#4312 Fix basic-concepts docs pages by splitting tooltip definitions out
  content/basic-concepts/dependency.md
  content/basic-concepts/dvc-cache.md
  content/basic-concepts/dvc-files.md
  content/basic-concepts/dvc-project.md
  content/basic-concepts/experiment.md
  content/basic-concepts/external-dependency.md
  content/basic-concepts/file-link.md
  content/basic-concepts/import-stage.md
  content/basic-concepts/output.md
  content/basic-concepts/parameter.md
  content/basic-concepts/pipeline.md
  content/basic-concepts/run-cache.md
  content/basic-concepts/stage.md
  content/basic-concepts/workspace.md
  content/docs/user-guide/basic-concepts/dvc-project.md
  content/docs/user-guide/basic-concepts/workspace.md
  gatsby-config.js
Labels: 🐛 type: bug, A: website

#4285 studio: live metrics edits
  content/docs/studio/how-it-works.md
  content/docs/studio/index.md
  content/docs/studio/user-guide/projects-and-experiments/live-metrics-and-plots.md
  content/docs/studio/user-guide/projects-and-experiments/run-experiments.md
  content/docs/studio/user-guide/projects-and-experiments/visualize-and-compare.md
Labels: type: enhancement, A: docs, C: studio

#4271 guide: exp sharing methods
  content/docs/command-reference/exp/pull.md
  content/docs/command-reference/exp/push.md
  content/docs/user-guide/experiment-management/sharing-experiments.md
Labels: type: enhancement, A: docs, C: guide

#4264 ref: create Remote Reference (config)
  content/docs/command-reference/config.md
  content/docs/command-reference/remote/add.md
  content/docs/command-reference/remote/index.md
  content/docs/command-reference/remote/list.md
  content/docs/command-reference/remote/modify.md
  content/docs/sidebar.json
  content/docs/start/data-management/data-versioning.md
  content/docs/user-guide/data-management/remote-storage.md
  content/docs/user-guide/data-management/remote-storage/amazon-s3.md
  content/docs/user-guide/data-management/remote-storage/index.md
Labels: A: docs, p1-important, ⌛ status: wait-core-merge, C: guide, C: ref

#4282 guide: link to remote storage types in link
  content/docs/api-reference/dvcfilesystem.md
  content/docs/api-reference/get_url.md
  content/docs/api-reference/open.md
  content/docs/command-reference/pull.md
  content/docs/command-reference/remote/modify.md
  content/docs/command-reference/version.md
Labels: A: docs, C: guide, C: ref

#4332 start: clarify double `remote add` instructions
  content/docs/start/data-management/data-versioning.md
Labels: type: enhancement, A: docs, C: start

#4284 guide: Azure and GCP remote pages
  content/docs/command-reference/remote/add.md
  content/docs/command-reference/remote/modify.md
  content/docs/sidebar.json
  content/docs/user-guide/data-management/cloud-versioning.md
  content/docs/user-guide/data-management/remote-storage/amazon-s3.md
  content/docs/user-guide/data-management/remote-storage/azure-blob-storage.md
  content/docs/user-guide/data-management/remote-storage/google-cloud-storage.md
  content/docs/user-guide/data-management/remote-storage/index.md
  content/docs/user-guide/how-to/setup-google-drive-remote.md
Labels: p1-important, C: guide, C: ref

#4200 ref: clarifications for `exp save` and `push/pull -f`
  content/docs/command-reference/exp/pull.md
  content/docs/command-reference/exp/push.md
  content/docs/command-reference/exp/run.md
  content/docs/command-reference/exp/save.md
  content/docs/start/experiment-management/experiments.md
  content/docs/user-guide/experiment-management/running-experiments.md
Labels: type: enhancement, A: docs, C: guide, C: ref, C: start
