Repository iterative/dvc.org, pull requests merged in 2024-03, with the labels that each got.

#5178 use exp git remote to set studio repo url
  content/docs/studio/user-guide/experiments/live-metrics-and-plots.md
  content/docs/user-guide/env.md
  content/docs/user-guide/integrations/databricks.md
  content/docs/user-guide/integrations/sagemaker.md
  content/docs/user-guide/project-structure/configuration.md
Labels: ⌛ status: wait-core-merge

#5191 Update env.md
  content/docs/user-guide/env.md
Labels: type: enhancement, A: docs, ⌛ status: wait-core-merge, C: ref

#5194 Fix `scmProviders.github` naming conventions
  content/docs/studio/self-hosting/configuration/git-forges/github.md
Labels: C: studio
